<%- include('../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>

	<main>
        <h1>Checkout</h1>
		
	</main>
<%- include('../partials/end.ejs') %>